%h2= I18n.t('devise_views.registration.new.title')
- unless devise_error_messages!.blank?
  .alert.alert-error
    %button.close{aria:{hidden: 'true'},data:{dismiss: 'alert'}, type: 'button'} ×
    = devise_error_messages!
= form_for(resource, as: resource_name, url: user_registration_path) do |f|
  %div
    = f.text_field :name, autofocus: true, placeholder: I18n.t('devise_views.registration.new.name_placeholder')
  %div
    = f.email_field :email, placeholder: I18n.t('devise_views.registration.new.email_placeholder')
  %div
    = f.password_field :password, placeholder: I18n.t('devise_views.registration.new.password_placeholder')
  %div
    = f.password_field :password_confirmation, placeholder: I18n.t('devise_views.registration.new.password_confirmation_placeholder')
  %div
    = show_simple_captcha(object: 'user')
  %div
    = f.submit I18n.t('devise_views.registration.new.submit')
= render 'devise/shared/links'