%h2= I18n.t('devise_views.registration.new.title')
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  .input-prepend
    %span.add-on
      %label.control-label{for: 'user_email'}
        %i.icon-user
    = f.text_field :name, autofocus: true, placeholder: I18n.t('devise_views.registration.new.name_placeholder')
  %br
  .input-prepend
    %span.add-on
      %label.control-label{for: 'user_email'}
        %i.icon-envelope
    = f.email_field :email, placeholder: I18n.t('devise_views.registration.new.email_placeholder')
  %br
  .input-prepend
    %span.add-on
      %label.control-label{for: 'user_password'}
        %i.icon-lock
    = f.password_field :password, placeholder: I18n.t('devise_views.registration.new.password_placeholder')
  %br
  .input-prepend
    %span.add-on
      %label.control-label{for: 'user_password'}
        %i.icon-lock
    = f.password_field :password_confirmation, placeholder: I18n.t('devise_views.registration.new.password_confirmation_placeholder')
  %div
    = show_simple_captcha
  %div= f.submit 'Sign up'
= render 'devise/shared/links'