.main_content_wrapper
  .index_as_table
    %table.index_table.index{border: 0, cellpadding: 0, cellspacing: 0}
      - unless @navigation.blank?
        %thead
          %tr
            %th
              User
            %th
              URL
            %th
              time
            %th
              date
        %tbody
          - @navigation.each do |nav|
            %tr
              %td
                = nav.user.email
              %td
                %a{href: nav.url, target: '_blank'}
                  = nav.url
              %td
                = nav.created_at.strftime('%H:%m')
              %td
                = nav.created_at.strftime('%d/%m/%Y')
  #index_footer
    %nav.pagination
      = paginate @navigation, window: 3