- title 'Ror Gallery'
%div
  #featured
    %ul
      - @pictures.each do |picture|
        %li
          = link_to picture_path( picture, picture.id) do
            %span.bottom-label
              %i.icon-thumbs-up
              = picture.likes_count
              %i.icon-comment
              = picture.comments_count
            = image_tag picture.image.url(:thumb), alt: picture.image_file_name
          .reflection
            = image_tag picture.image.url(:thumb), alt: 'slider-img'
            .overlay
  = paginate @pictures, window: 2