- title 'Ror Gallery | Pictures'
%h1 Picture
%div
  = paginate @pictures, window: 2
  #featured
    %ul
      - @pictures.each do |picture|
        %li
          = link_to picture_path( picture.category.title, picture.id) do
            %span.bottom-label
              %i.icon-thumbs-up
              = picture.likes_count
              %i.icon-comment
              = picture.comments_count
            = image_tag picture.image.url(:thumb, download: true), alt: picture.image_file_name
          .reflection
            = image_tag picture.image.url(:thumb, download: true), alt: 'slider-img'
            .overlay