- title 'Ror Gallery | Categories'
.container
  %h1 Categories
  %ul.nav.nav-tabs.nav-stacked
    - @categories.each do |category|
      %li
        = link_to category_path(category.title), title: "Category: #{category.title}" do
          %table{width: '100%'}
            %tbody
              %tr
                %td{width: '10%'}
                  - if user_signed_in?
                    - if category.users.include? current_user
                      %span.unsubscribe{id: category.id, title: 'unsubscribe'}
                    - else
                      %span.subscribe{id: category.id, title: 'subscribe'}
                %td{width: '20%'}
                  = "#{category.title.upcase} (#{category.pictures_count} pictures)"
                %td.sub{align: 'center'}
                  -category.included_pictures.each do |pic|
                    = image_tag pic.image.url(:default), alt: pic.image_file_name
                %td{width: 128}
                  - if category.users.include? current_user
                    = image_tag 'subscribe.png', width: 128
