.container
  %h1 Categories
  %ul.nav.nav-tabs.nav-stacked
    - @categories.each do |category|
      %li
        = link_to category_path(category.title), title: "Category: #{category.title}" do
          = category.title.upcase
          %span
            %i.icon-picture
            = category.pictures_count
          %span
            %i.icon-calendar
            = category.updated_at
          - if user_signed_in?
            - if category.users.include? current_user
              %span.btn.btn-inverse.unsubscribe{id: category.id}
                %i.icon-eye-close.icon-white
            - else
              %span.btn.btn-inverse.subscribe{id: category.id}
                %i.icon-eye-open.icon-white
          - else
            %span.btn (you must login to subscribe)