- title I18n.t('views.categories.index.page_title')
.container
  %h1= I18n.t('views.categories.index.title')
  %ul.nav.nav-tabs.nav-stacked
    - @categories.each do |category|
      %li
        = link_to (default_locale? ? category_path(category.title) : locale_category_path(I18n.locale,category.title)), title: I18n.t('views.categories.index.link_title', category: category.title_loc) do
          %table{width: '100%'}
            %tbody
              %tr
                %td{width: '10%'}
                  - if user_signed_in?
                    - if category.users.include? current_user
                      %span.unsubscribe{id: category.id, title: I18n.t('views.categories.index.unsubscribe_title')}
                    - else
                      %span.subscribe{id: category.id, title: I18n.t('views.categories.index.subscribe_title')}
                %td{width: '20%'}
                  = "#{category.title_loc} (#{category.pictures_count})"
                %td.sub{align: 'center'}
                  -category.included_pictures.each do |pic|
                    = image_tag pic.image.url(:default), alt: pic.image_file_name
                %td{width: 128}
                  - if category.users.include? current_user
                    = image_tag 'subscribe.png', width: 128