.container
  %h1= @category.title
  - if user_signed_in?
    - if @category.users.include? current_user
      %h2 You subscribe
    - else
      %h2 You not subscribe
  %div
    = paginate @pictures, window: 2
    #featured
      %ul
        - @pictures.each do |picture|
          %li
            = link_to picture_path( picture.category.title, picture.id) do
              %span.top-title
                = 'Click to more ...'
              %span.bottom-label
                %i.icon-thumbs-up
                = picture.likes_count
                %i.icon-comment
                = picture.comments_count
              = image_tag picture.image.url, alt: picture.image_file_name
            .reflection
              = image_tag picture.image.url, alt: 'slider-img'
              .overlay