!!!
%html
  %head
    %title Tit
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :head_script
    = csrf_meta_tags
  %body
    .container
      .content-wrapper
        %header.well.well-small
          %span
            = link_to 'Home', root_path, class: 'btn'
          %span
            = link_to 'Categories', categories_path, class: 'btn'
          %span
            = link_to 'Picture', pictures_path, class: 'btn'
          = render partial: 'shared/user_modal'
        .content
          - if flash[:notice]
            %p.alert.alert-success
              = flash.now[:notice]
          - if flash[:alert]
            %p.alert.alert-error
              = flash.now[:alert]
          .row-fluid
            .span1
            .span7
              = yield
      #modal_content
        = yield :modal_content

      %footer.well