!!!
%html
  %head
    %title Tit
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      .content-wrapper
        %header.well.well-small.well-inverse

          %ul.nav.nav-pills.nav-inverse.pull-left
            %li
              = link_to I18n.t('application.menu.home'), root_url
            %li{class: "#{ controller.controller_name == 'categories' ? 'active' : 'not-active'}"}
              = link_to I18n.t('application.menu.categories'), categories_url
            %li{class: "#{ controller.controller_name == 'pictures' ? 'active' : 'not-active'}"}
              = link_to I18n.t('application.menu.pictures'), pictures_url
          - unless 'registrations passwords sessions'.include? controller.controller_name
            %ul.nav.nav-pills.nav-inverse.pull-right
              %li
                = link_to '#userModal', data:{toggle: 'modal'}, role: 'button' do
                  %i.icon-user.icon-white
                  - if user_signed_in?
                    = current_user.name
                    - render partial: 'shared/user_modal'
                  - else
                    login
                    - render partial: 'shared/user_login'
              %li
                - if session[:locale] == 'ru'
                  = link_to localization_url(:en) do
                    %i.flag.flag-en
                    EN
                - else
                  = link_to localization_url(:ru) do
                    %i.flag.flag-ru
                    RU
        .content
          - if flash[:notice]
            %p.alert.alert-success
              = flash.now[:notice]
              %button.close{aria:{hidden: 'true'},data:{dismiss: 'alert'}, type: 'button'} ×
          - if flash[:alert]
            %p.alert.alert-error
              = flash.now[:alert]
              %button.close{aria:{hidden: 'true'},data:{dismiss: 'alert'}, type: 'button'} ×
          = yield
      #modal_content
        = yield :modal_content
      %footer.well.text-center.well-inverse= I18n.t('application.copyright', year: DateTime.now.strftime('%Y'))